.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__btn {
    &-delete {
      width: fit-content !important;
      padding: 8px 6px !important;
      float: right;
    }
  }
}
