/* typography */
$text-dark: #000000;
$text-dark-secondary: #000a14;
$text-light: #ffffff;
$text-secondary: #d6dde6;
$text-gray: #667085;
$text-gray-secondary: #95a1ae;

/* background */
$page: #ffffff;
$page-blue: #122030;
$accent: #1A8F46;
$red: #f05651;
$red-light: #ff7975;
$accent-light: #3ac971;
$secondary: #d9d9d9;
$page-secondary: #f9fafb;
$border-secondary: #f2f4f7;
$dark-light: rgba(60, 60, 67, 0.6);
